body {
    background: #069;
    font-family: sans-serif;
    font-size: 12px;
    padding: 10em;
    text-align: center;
}
/* Create a very simple pill-style button */
a.inset-button {
    position: relative;
    padding: 1em 2em;
    text-decoration: none;
    display: inline-block;
    
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
}
/* Create the pseudo element that we'll use for the top-border highlight */
a.inset-button:after {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    content: " ";
    
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
}
/* Styles for dark backgrounds */
a.inset-button.dark {
    color: rgba(255,255,255, .8);
    border: 1px solid rgba(0,0,0, .3);
    background: -webkit-gradient(linear, left top, left bottom, 
        color-stop(0, rgba(255,255,255, .15)), 
        color-stop(1, rgba(255,255,255, .08)));
    background: -moz-linear-gradient(top, 
        rgba(255,255,255, .15), 
        rgba(255,255,255, .08));
    
    text-shadow: 0 -1px 0 rgba(0,0,0, .5);
    
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255, .1);
    -moz-box-shadow: 0 1px 0 rgba(255,255,255, .1);
    box-shadow: 0 1px 0 rgba(255,255,255, .1);
}
a.inset-button.dark:after {
    border-top: 1px solid rgba(255,255,255, .15);
}
a.inset-button.dark:hover {
    background: -webkit-gradient(linear, left top, left bottom, 
        color-stop(0, rgba(255,255,255, .21)), 
        color-stop(1, rgba(255,255,255, .14)));
    background: -moz-linear-gradient(top, 
        rgba(255,255,255, .21), 
        rgba(255,255,255, .14));
}
a.inset-button.dark:active {
    background: -webkit-gradient(linear, left top, left bottom, 
        color-stop(0, rgba(255,255,255, .14)), 
        color-stop(1, rgba(255,255,255, .25)));
    background: -moz-linear-gradient(top, 
        rgba(255,255,255, .14), 
        rgba(255,255,255, .21));
}
/* Button styles for light backgrounds */
a.inset-button.light {
    color: rgba(0,0,0, .8);
    border: 1px solid rgba(0,0,0, .2);
    background: -webkit-gradient(linear, left top, left bottom, 
        color-stop(0, rgba(0,0,0, .05)), 
        color-stop(1, rgba(0,0,0, .1)));
    background: -moz-linear-gradient(top,  
        rgba(0,0,0, .05), 
        rgba(0,0,0, .1));
    
    text-shadow: 0 1px 0 rgba(255,255,255, .5);
    
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255, .7);
    -moz-box-shadow: 0 1px 0 rgba(255,255,255, .7);
    box-shadow: 0 1px 0 rgba(255,255,255, .7);
}
a.inset-button.light:after {
    border-top: 1px solid rgba(255,255,255, .6);
}
a.inset-button.light:hover {
    background: -webkit-gradient(linear, left top, left bottom, 
        color-stop(0, rgba(0,0,0, .01)), 
        color-stop(1, rgba(0,0,0, .06)));
    background: -moz-linear-gradient(top,  
        rgba(0,0,0, .01), 
        rgba(0,0,0, .06));
}
a.inset-button.light:active {
    background: -webkit-gradient(linear, left top, left bottom, 
        color-stop(0, rgba(0,0,0, .06)), 
        color-stop(1, rgba(0,0,0, .01)));
    background: -moz-linear-gradient(top,  
        rgba(0,0,0, .06), 
        rgba(0,0,0, .01));
}