/* CSS for the overall demo */

@page-bg-color: #069;

/* Functions */

.rounded-corners (@radius: 2em) {
    border-radius: @radius;
    -moz-border-radius: @radius;
    -webkit-border-radius: @radius;
}

.top-bottom-gradient (@start, @stop) {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, @start), color-stop(1, @stop));
    background: -moz-linear-gradient(top, @start, @stop);
    background: linear-gradient(@start, @stop);
}

.box-shadow (@x: 0, @y: 0, @blur: 0, @color: #000 ) {
    box-shadow: @arguments;
    -moz-box-shadow: @arguments;
    -webkit-box-shadow: @arguments;
}

/* Inset-button mixin */

.inset-button (@base-color: #666) {
    display: inline-block;
    padding: 1em 2em;
    position: relative;
    text-decoration: none;
    
    .rounded-corners;
    
    &:after {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: " ";
        
        .rounded-corners;
    }
    
    /* Styles for dark backgrounds */
    &.dark {
        color: lighten(@base-color, 80%);
        border: 1px solid darken(@base-color, 20%);
        text-shadow: 0 -1px 0 darken(@base-color, 50%);
        
        .top-bottom-gradient(lighten(@base-color, 5%), lighten(@base-color, 1%));
        .box-shadow(0, 1px, 0, lighten(@base-color, 10%));
        
        &:after  { border-top: 1px solid lighten(@base-color, 15%); }
        &:hover  { .top-bottom-gradient(lighten(@base-color, 10%), lighten(@base-color, 5%)); }
        &:active { .top-bottom-gradient(lighten(@base-color, 5%), lighten(@base-color, 10%)); }
    }
    
    /* Styles for light backgrounds */
    &.light {
        color: darken(@base-color, 80%);
        border: 1px solid darken(@base-color, 20%);
        text-shadow: 0 1px 0 lighten(@base-color, 20%);
        
        .top-bottom-gradient(darken(@base-color, 1%), darken(@base-color, 5%));
        .box-shadow(0, 1px, 0, lighten(@base-color, 15%));
        
        &:after  { border-top: 1px solid lighten(@base-color, 15%); }
        &:hover  { .top-bottom-gradient(darken(@base-color, 3%), darken(@base-color, 8%)); }
        &:active { .top-bottom-gradient(darken(@base-color, 8%), lighten(@base-color, 3%)); }
    }
}


/* Element styles */

body {
    background: @page-bg-color;
    font-family: sans-serif;
    font-size: 12px;
    text-align: center;
}

div {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.demo-div {
    width: 40%;
    margin: 5%;
    float: left;
}

h1 { margin: 2em; }
h1, h2 { font-family: "Lucida Grande", sans-serif; }
h1.dark, h2.dark { color: lighten(@page-bg-color, 80%); text-shadow: 0 -1px 0 darken(@page-bg-color, 60%);}
h1.light, h2.light { color: darken(@page-bg-color, 80%); text-shadow: 0 1px 0 lighten(@page-bg-color, 60%);}

#less-css a.inset { .inset-button(@page-bg-color); }
