/* CSS for the overall demo */
/* Functions */
/* Inset-button mixin */
/* Element styles */
body {
  background: #006699;
  font-family: sans-serif;
  font-size: 12px;
  text-align: center;
}
div {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.demo-div {
  width: 40%;
  margin: 5%;
  float: left;
}
h1 {
  margin: 2em;
}
h1, h2 {
  font-family: "Lucida Grande", sans-serif;
}
h1.dark, h2.dark {
  color: #ffffff;
  text-shadow: 0 -1px 0 #000000;
}
h1.light, h2.light {
  color: #000000;
  text-shadow: 0 1px 0 #cceeff;
}
#less-css a.inset {
  display: inline-block;
  padding: 1em 2em;
  position: relative;
  text-decoration: none;
  border-radius: 2em;
  -moz-border-radius: 2em;
  -webkit-border-radius: 2em;
  /* Styles for dark backgrounds */

  /* Styles for light backgrounds */

}
#less-css a.inset:after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: " ";
  border-radius: 2em;
  -moz-border-radius: 2em;
  -webkit-border-radius: 2em;
}
#less-css a.inset.dark {
  color: #ffffff;
  border: 1px solid #002233;
  text-shadow: 0 -1px 0 #000000;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #0077b3), color-stop(1, #00699e));
  background: -moz-linear-gradient(top, #0077b3, #00699e);
  background: linear-gradient(#0077b3, #00699e);
  box-shadow: 0 1px 0 #0088cc;
  -moz-box-shadow: 0 1px 0 #0088cc;
  -webkit-box-shadow: 0 1px 0 #0088cc;
}
#less-css a.inset.dark:after {
  border-top: 1px solid #0099e5;
}
#less-css a.inset.dark:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #0088cc), color-stop(1, #0077b3));
  background: -moz-linear-gradient(top, #0088cc, #0077b3);
  background: linear-gradient(#0088cc, #0077b3);
}
#less-css a.inset.dark:active {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #0077b3), color-stop(1, #0088cc));
  background: -moz-linear-gradient(top, #0077b3, #0088cc);
  background: linear-gradient(#0077b3, #0088cc);
}
#less-css a.inset.light {
  color: #000000;
  border: 1px solid #002233;
  text-shadow: 0 1px 0 #00aaff;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #006394), color-stop(1, #005580));
  background: -moz-linear-gradient(top, #006394, #005580);
  background: linear-gradient(#006394, #005580);
  box-shadow: 0 1px 0 #0099e5;
  -moz-box-shadow: 0 1px 0 #0099e5;
  -webkit-box-shadow: 0 1px 0 #0099e5;
}
#less-css a.inset.light:after {
  border-top: 1px solid #0099e5;
}
#less-css a.inset.light:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #005c8a), color-stop(1, #004b70));
  background: -moz-linear-gradient(top, #005c8a, #004b70);
  background: linear-gradient(#005c8a, #004b70);
}
#less-css a.inset.light:active {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #004b70), color-stop(1, #0070a8));
  background: -moz-linear-gradient(top, #004b70, #0070a8);
  background: linear-gradient(#004b70, #0070a8);
}
